
.eleve{
    background-color: #f5f5f5;
    border: 1px solid silver;
    font-family: Arial;
    padding: 30px;
    margin: 15px;
    display: inline-block;
    width: 300px;
}
.red{
    color:red;
    }
.orange{
    color:orange;
    }
.green{
    color:green;
    }
    

